<!DOCTYPE html>
<html lang="en">
    <header>
        <link rel="stylesheet" href="style.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- <script src="./moment.js"></script> -->
        <!-- <script src="myscript.js"></script> -->
           
    </header>
<body>
    <div class="activity-chart">
        <h1> Welcome to Git Streak !!! </h1>
        <div id="month">
            <ol class='month'>
                {% for item in months %}
                    <li>{{item}}</li>
                {% endfor %}
            </ol>
        </div>
        <div id="days" class="days">
            <ol>
                {% for item in offsets %}
                    <li class='offset'></li>
                {% endfor %}
                {% for item in days %}
                    <li data-activity={{item.activity}}>
                        <span class='tooltip'>{{item.date}}:{{item.commits}}</span>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div>
            <!-- Overall Commits: {{overall.commits}} {{overall.start_date}} - {{overall.end_date}} <br>
            Longest Streak: {{longest_streak.days}} {{longest_streak.start_date}} - {{longest_streak.end_date}} <br>
            Current Streak: {{current_streak.days}} {{current_streak.start_date}} - {{current_streak.end_date}} <br> -->
        </div>
        <div class="key">
            <strong>Less</strong>
            <ul>
                <li data-activity="4"></li>
                <li data-activity="3"></li>
                <li data-activity="2"></li>
                <li data-activity="1"></li>
                <li data-activity="0"></li>
            </ul>
            <strong>More</strong>
        </div>
        
    </div>
</body>
</html>